// Senneca color codes
    //blue
$blue: #0f8fce; //rgba(15,143,206,255)
$blue-dark: #0070ba; //rgba(0,112,186,255)
    //grey
$grey-light: #b4b4b6; //rgba(180,180,182,255)
$grey: #5e6266; //rgba(94,98,102,255)
$grey-dark: #2d2d2d; //rgba(45,45,45,255)

// General color
$odd-row: #dfe1e6;
$even-row: #b7b7b9;



// Gradients
@mixin blue-grad {
    background: -webkit-linear-gradient(240deg, rgba($blue, .60), rgba($grey-light, .8));
}