body {
  width: 99vw;
  height: 96vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: aliceblue;
}

.main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#header {
  width: 100%;
  height: 15%;
}

#content {
  width: 100%;
  height: 65%;

  grid-gap: 2rem;
}

.card {
  width: 70%;
  height: 100%;
  background: rgb(136, 140, 145);
  justify-self: center;
}

#footer {
  width: 100%;
  height: 4%;
}
