@mixin root-base() {
  :root {
    // Alterable Angles
    --deg-0: 0deg;
    --deg-1: 0deg;
    --deg-2: 0deg;
    --deg-3: 0deg;
    --deg-4: 0deg;
    --deg-5: 0deg;
    --deg-6: 0deg;
    --deg-7: 0deg;
    --deg-8: 0deg;
    --deg-9: 0deg;

    // Alterable Positions (x)
    --x-pos-0: 0px;
    --x-pos-1: 0px;
    --x-pos-2: 0px;
    --x-pos-3: 0px;
    --x-pos-4: 0px;
    --x-pos-5: 0px;
    --x-pos-6: 0px;
    --x-pos-7: 0px;
    --x-pos-8: 0px;
    --x-pos-9: 0px;

    // Alterable Positions (y)
    --y-pos-0: 0px;
    --y-pos-1: 0px;
    --y-pos-2: 0px;
    --y-pos-3: 0px;
    --y-pos-4: 0px;
    --y-pos-5: 0px;
    --y-pos-6: 0px;
    --y-pos-7: 0px;
    --y-pos-8: 0px;
    --y-pos-9: 0px;
  }
}

@import "./abstracts/abstracts-dir";
@import "./animations/animations-dir";
@import "./components/components-dir";
