@use "../animations/base" as b;

@mixin header-horizontal($selector, $height, $expanse-height, $bg-color, $text-color-1, $text-color-2) {
  // Move subsequent content bellow navbar
  #{$selector} + div {
    padding-top: $height;
  }

  // Animations
  $steps-contract: 0%, 100%;
  $animations-contract: translateY($expanse-height), translateY(0px);
  @include b.multi-part("exp", 100%, translateY($expanse-height)); //expand
  @include b.multi-part("contract", $steps-contract, $animations-contract); // contract

  #{$selector}.expand {
    //expand
    animation: exp 2s ease forwards;
  }
  #{$selector} {
    //contract
    animation: contract 2s ease forwards;
  }

  // Base style
  #{$selector} {
    width: 100%;
    height: $height + $expanse-height;
    background: $bg-color;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: $height;
    top: -$expanse-height;
    left: 0;
    z-index: 99999;

    div,
    h1 {
      color: $text-color-1;
    }

    h2,
    h3,
    h4,
    p {
      color: $text-color-2;
    }
  }
}
