@-webkit-keyframes left-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -359.99deg;
  }
}
@-moz-keyframes left-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -359.99deg;
  }
}
@keyframes left-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -359.99deg;
  }
}
@-webkit-keyframes right-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 359.99deg;
  }
}
@-moz-keyframes right-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 359.99deg;
  }
}
@keyframes right-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 359.99deg;
  }
}
@-webkit-keyframes r-l90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -90deg;
  }
}
@-moz-keyframes r-l90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -90deg;
  }
}
@keyframes r-l90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -90deg;
  }
}
@-webkit-keyframes r-l180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -180deg;
  }
}
@-moz-keyframes r-l180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -180deg;
  }
}
@keyframes r-l180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -180deg;
  }
}
@-webkit-keyframes r-l270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -270deg;
  }
}
@-moz-keyframes r-l270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -270deg;
  }
}
@keyframes r-l270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -270deg;
  }
}
@-webkit-keyframes r-l360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}
@-moz-keyframes r-l360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}
@keyframes r-l360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}
@-webkit-keyframes r-r90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 90deg;
  }
}
@-moz-keyframes r-r90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 90deg;
  }
}
@keyframes r-r90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 90deg;
  }
}
@-webkit-keyframes r-r180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}
@-moz-keyframes r-r180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}
@keyframes r-r180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}
@-webkit-keyframes r-r270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 270deg;
  }
}
@-moz-keyframes r-r270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 270deg;
  }
}
@keyframes r-r270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 270deg;
  }
}
@-webkit-keyframes r-r360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@-moz-keyframes r-r360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes r-r360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
nav {
  float: left;
  margin: 5px 10px;
}
nav ul {
  min-width: fit-content;
  max-width: 120px;
  padding: 0;
  margin: 0;
  background-color: #fff;
}
nav li {
  position: relative;
  display: block;
  border: 1px solid #000;
  border-top: 0px;
}
nav li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #009;
}
nav li a:hover {
  background-color: #009;
  color: #fff;
}
nav li ul {
  position: absolute;
  width: 100%;
  left: 100%;
  top: 5px;
  display: none;
}
nav li ul li {
  font-size: smaller;
}
nav li:hover ul {
  display: block;
}
nav li:first-child {
  border-top: 1px solid #000;
}

@-webkit-keyframes left-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -359.99deg;
  }
}
@-moz-keyframes left-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -359.99deg;
  }
}
@keyframes left-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -359.99deg;
  }
}
@-webkit-keyframes right-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 359.99deg;
  }
}
@-moz-keyframes right-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 359.99deg;
  }
}
@keyframes right-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 359.99deg;
  }
}
@-webkit-keyframes r-l90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -90deg;
  }
}
@-moz-keyframes r-l90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -90deg;
  }
}
@keyframes r-l90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -90deg;
  }
}
@-webkit-keyframes r-l180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -180deg;
  }
}
@-moz-keyframes r-l180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -180deg;
  }
}
@keyframes r-l180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -180deg;
  }
}
@-webkit-keyframes r-l270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -270deg;
  }
}
@-moz-keyframes r-l270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -270deg;
  }
}
@keyframes r-l270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -270deg;
  }
}
@-webkit-keyframes r-l360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}
@-moz-keyframes r-l360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}
@keyframes r-l360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}
@-webkit-keyframes r-r90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 90deg;
  }
}
@-moz-keyframes r-r90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 90deg;
  }
}
@keyframes r-r90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 90deg;
  }
}
@-webkit-keyframes r-r180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}
@-moz-keyframes r-r180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}
@keyframes r-r180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}
@-webkit-keyframes r-r270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 270deg;
  }
}
@-moz-keyframes r-r270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 270deg;
  }
}
@keyframes r-r270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 270deg;
  }
}
@-webkit-keyframes r-r360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@-moz-keyframes r-r360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes r-r360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@-webkit-keyframes pulse-20 {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    rotate: 1;
  }
}
@-moz-keyframes pulse-20 {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    rotate: 1;
  }
}
@keyframes pulse-20 {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    rotate: 1;
  }
}

/*# sourceMappingURL=index.css.map */
