@charset "UTF-8";
@-webkit-keyframes left-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -359.99deg;
  }
}
@-moz-keyframes left-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -359.99deg;
  }
}
@keyframes left-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -359.99deg;
  }
}
@-webkit-keyframes right-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 359.99deg;
  }
}
@-moz-keyframes right-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 359.99deg;
  }
}
@keyframes right-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 359.99deg;
  }
}
@-webkit-keyframes r-l90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -90deg;
  }
}
@-moz-keyframes r-l90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -90deg;
  }
}
@keyframes r-l90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -90deg;
  }
}
@-webkit-keyframes r-l180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -180deg;
  }
}
@-moz-keyframes r-l180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -180deg;
  }
}
@keyframes r-l180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -180deg;
  }
}
@-webkit-keyframes r-l270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -270deg;
  }
}
@-moz-keyframes r-l270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -270deg;
  }
}
@keyframes r-l270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -270deg;
  }
}
@-webkit-keyframes r-l360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}
@-moz-keyframes r-l360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}
@keyframes r-l360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}
@-webkit-keyframes r-r90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 90deg;
  }
}
@-moz-keyframes r-r90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 90deg;
  }
}
@keyframes r-r90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 90deg;
  }
}
@-webkit-keyframes r-r180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}
@-moz-keyframes r-r180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}
@keyframes r-r180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}
@-webkit-keyframes r-r270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 270deg;
  }
}
@-moz-keyframes r-r270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 270deg;
  }
}
@keyframes r-r270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 270deg;
  }
}
@-webkit-keyframes r-r360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@-moz-keyframes r-r360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes r-r360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
#main-nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  list-style: none;
}
#main-nav ul li {
  width: 100%;
  text-align: center;
  position: relative;
}
#main-nav ul li a {
  color: #f6f7f8;
  background: #750000;
  height: 64px;
  font-family: lato;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background 0.4s;
}
#main-nav ul li a:hover {
  background: #844141;
}
#main-nav ul li ul li:not(li > ul > li > ul > li:nth-of-type(1)) {
  margin-top: 2px;
}
#main-nav ul li:has(> ul.submenu) > a:after {
  content: "▼";
  padding-left: 0.5em;
  font-size: smaller;
}
#main-nav ul li:has(> ul.submenu-2) > a:after {
  content: "▶";
  padding-left: 0.5em;
  font-size: smaller;
}
#main-nav ul.submenu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: 100%;
}
#main-nav ul.submenu-2 {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 15%;
  left: 100%;
  width: 120px;
}
#main-nav ul.submenu-2 li {
  margin-left: 2px;
}
#main-nav li:hover ul.submenu {
  display: flex;
}
#main-nav ul.submenu li:hover ul.submenu-2 {
  display: flex;
}

@-webkit-keyframes left-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -359.99deg;
  }
}
@-moz-keyframes left-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -359.99deg;
  }
}
@keyframes left-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -359.99deg;
  }
}
@-webkit-keyframes right-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 359.99deg;
  }
}
@-moz-keyframes right-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 359.99deg;
  }
}
@keyframes right-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 359.99deg;
  }
}
@-webkit-keyframes r-l90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -90deg;
  }
}
@-moz-keyframes r-l90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -90deg;
  }
}
@keyframes r-l90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -90deg;
  }
}
@-webkit-keyframes r-l180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -180deg;
  }
}
@-moz-keyframes r-l180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -180deg;
  }
}
@keyframes r-l180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -180deg;
  }
}
@-webkit-keyframes r-l270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -270deg;
  }
}
@-moz-keyframes r-l270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -270deg;
  }
}
@keyframes r-l270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -270deg;
  }
}
@-webkit-keyframes r-l360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}
@-moz-keyframes r-l360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}
@keyframes r-l360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}
@-webkit-keyframes r-r90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 90deg;
  }
}
@-moz-keyframes r-r90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 90deg;
  }
}
@keyframes r-r90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 90deg;
  }
}
@-webkit-keyframes r-r180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}
@-moz-keyframes r-r180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}
@keyframes r-r180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}
@-webkit-keyframes r-r270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 270deg;
  }
}
@-moz-keyframes r-r270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 270deg;
  }
}
@keyframes r-r270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 270deg;
  }
}
@-webkit-keyframes r-r360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@-moz-keyframes r-r360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes r-r360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@-webkit-keyframes pulse-20 {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    rotate: 1;
  }
}
@-moz-keyframes pulse-20 {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    rotate: 1;
  }
}
@keyframes pulse-20 {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    rotate: 1;
  }
}

/*# sourceMappingURL=index.css.map */
