@-webkit-keyframes left-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -359.99deg;
  }
}
@-moz-keyframes left-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -359.99deg;
  }
}
@keyframes left-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -359.99deg;
  }
}
@-webkit-keyframes right-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 359.99deg;
  }
}
@-moz-keyframes right-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 359.99deg;
  }
}
@keyframes right-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 359.99deg;
  }
}
@-webkit-keyframes r-l90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -90deg;
  }
}
@-moz-keyframes r-l90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -90deg;
  }
}
@keyframes r-l90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -90deg;
  }
}
@-webkit-keyframes r-l180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -180deg;
  }
}
@-moz-keyframes r-l180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -180deg;
  }
}
@keyframes r-l180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -180deg;
  }
}
@-webkit-keyframes r-l270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -270deg;
  }
}
@-moz-keyframes r-l270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -270deg;
  }
}
@keyframes r-l270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -270deg;
  }
}
@-webkit-keyframes r-l360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}
@-moz-keyframes r-l360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}
@keyframes r-l360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}
@-webkit-keyframes r-r90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 90deg;
  }
}
@-moz-keyframes r-r90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 90deg;
  }
}
@keyframes r-r90 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 90deg;
  }
}
@-webkit-keyframes r-r180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}
@-moz-keyframes r-r180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}
@keyframes r-r180 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}
@-webkit-keyframes r-r270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 270deg;
  }
}
@-moz-keyframes r-r270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 270deg;
  }
}
@keyframes r-r270 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 270deg;
  }
}
@-webkit-keyframes r-r360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@-moz-keyframes r-r360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes r-r360 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@-webkit-keyframes pulse-20 {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    rotate: 1;
  }
}
@-moz-keyframes pulse-20 {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    rotate: 1;
  }
}
@keyframes pulse-20 {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    rotate: 1;
  }
}
:root {
  --deg-0: 0deg;
  --deg-1: 0deg;
  --deg-2: 0deg;
  --deg-3: 0deg;
  --deg-4: 0deg;
  --deg-5: 0deg;
  --deg-6: 0deg;
  --deg-7: 0deg;
  --deg-8: 0deg;
  --deg-9: 0deg;
  --x-pos-0: 0px;
  --x-pos-1: 0px;
  --x-pos-2: 0px;
  --x-pos-3: 0px;
  --x-pos-4: 0px;
  --x-pos-5: 0px;
  --x-pos-6: 0px;
  --x-pos-7: 0px;
  --x-pos-8: 0px;
  --x-pos-9: 0px;
  --y-pos-0: 0px;
  --y-pos-1: 0px;
  --y-pos-2: 0px;
  --y-pos-3: 0px;
  --y-pos-4: 0px;
  --y-pos-5: 0px;
  --y-pos-6: 0px;
  --y-pos-7: 0px;
  --y-pos-8: 0px;
  --y-pos-9: 0px;
}

.grid-sym-2x1 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

h2:hover,
h3:hover,
h4:hover {
  animation: ssr 4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
@-webkit-keyframes ssr {
  0% {
    transform: translateX(0px) scaleX(1);
  }
  100% {
    transform: translateX(30px) scaleX(0.9);
  }
}
@-moz-keyframes ssr {
  0% {
    transform: translateX(0px) scaleX(1);
  }
  100% {
    transform: translateX(30px) scaleX(0.9);
  }
}
@keyframes ssr {
  0% {
    transform: translateX(0px) scaleX(1);
  }
  100% {
    transform: translateX(30px) scaleX(0.9);
  }
}

.test2:hover {
  animation: t1 20s ease forwards;
}

@-webkit-keyframes t1 {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate3d(300px, 50%, 3em) scaleX(4) rotateX(360deg) rotateY(360deg);
  }
  100% {
    transform: translate(300px, 200px) scaleX(0) rotateX(360deg) rotateY(360deg);
  }
}
@-moz-keyframes t1 {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate3d(300px, 50%, 3em) scaleX(4) rotateX(360deg) rotateY(360deg);
  }
  100% {
    transform: translate(300px, 200px) scaleX(0) rotateX(360deg) rotateY(360deg);
  }
}
@keyframes t1 {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate3d(300px, 50%, 3em) scaleX(4) rotateX(360deg) rotateY(360deg);
  }
  100% {
    transform: translate(300px, 200px) scaleX(0) rotateX(360deg) rotateY(360deg);
  }
}
.grid-sym-2x1 {
  grid-gap: 0px;
}

.card:nth-child(1) {
  grid-row: 1/3;
}

.grid-sym-2x1 .card {
  grid-column: auto;
}

#div_1 {
  background: #5e6266;
  position: relative;
  display: block;
  width: 500px;
  height: 400px;
}

.loader-xl {
  display: flex;
  width: 60rem;
  height: 60rem;
  border: 6rem solid transparent;
  border-top: 6rem solid #0f8fce;
  border-bottom: 6rem solid #0f8fce;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.loader-xl div {
  border-radius: 50%;
  width: 37.5rem;
  height: 37.5rem;
  border: 7.5rem solid transparent;
  border-left: 7.5rem solid #2d2d2d;
  border-right: 7.5rem solid #2d2d2d;
}

.loader-xl {
  opacity: 0.5;
}

/*
.loader {
    display: flex;
    width: 50px;
    height: 50px;
    border: 6px solid transparent;
    border-top: 6px solid o-colors.$blue; 
    border-bottom: 6px solid o-colors.$blue; 
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    @extend .spinning-left; 
    div {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        border: 6px solid transparent;
        border: 6px solid transparent;
        border-left: 6px solid o-colors.$grey-dark ; 
        border-right: 6px solid o-colors.$grey-dark ;
        @extend .spinning-left; 
    }
}
*/
p {
  display: block;
  position: absolute;
}

table {
  text-align: center;
}
table thead {
  background: #2d2d2d;
  color: white;
}
table thead th {
  padding: 5px;
}
table input {
  background: inherit;
  color: inherit;
}
table tbody tr:nth-child(odd) {
  background: #b7b7b9;
}
table tbody tr:nth-child(even) {
  background: #dfe1e6;
}
table tbody tr:nth-child(odd).active {
  background: rgba(15, 143, 206, 0.1);
}
table tbody tr:nth-child(even).active {
  background: rgba(15, 143, 206, 0.1);
}
table tbody tr:nth-child(odd):hover {
  background: rgba(15, 143, 206, 0.25);
}
table tbody tr:nth-child(even):hover {
  background: rgba(15, 143, 206, 0.25);
}

table {
  border-collapse: collapse;
}

tbody tr {
  border-top: 1px solid #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
}

.h1 {
  color: #0f8fce;
  font-size: 50px;
  background: -webkit-linear-gradient(280deg, #0f8fce, #b4b4b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h2,
.h3,
.h4 {
  color: #2d2d2d;
  max-width: 150px;
}

#header,
#footer {
  background: #e9eaec;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  border: solid rgba(45, 45, 45, 0.5) 2px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.button {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.button:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.spinning-left {
  -moz-animation: left-spin 5s linear infinite;
  -webkit-animation: left-spin 5s linear infinite;
  animation: left-spin 5s linear infinite;
}

.spinning-right, .loader-xl, .loader-xl div {
  -moz-animation: right-spin 5s linear infinite;
  -webkit-animation: right-spin 5s linear infinite;
  animation: right-spin 5s linear infinite;
}

.rotate-left-90 {
  -moz-animation: r-l90 2s forwards;
  -webkit-animation: r-l90 2s forwards;
  animation: r-l90 2s forwards;
}

.rotate-left-180 {
  -moz-animation: r-l180 2s forwards;
  -webkit-animation: r-l180 2s forwards;
  animation: r-l180 2s forwards;
}

.rotate-left-270 {
  -moz-animation: r-l270 2s forwards;
  -webkit-animation: r-l270 2s forwards;
  animation: r-l270 2s forwards;
}

.rotate-left-360 {
  -moz-animation: r-l360 2s forwards;
  -webkit-animation: r-l360 2s forwards;
  animation: r-l360 2s forwards;
}

.rotate-right-90 {
  -moz-animation: r-r90 2s forwards;
  -webkit-animation: r-r90 2s forwards;
  animation: r-r90 2s forwards;
}

.rotate-right-180 {
  -moz-animation: r-r180 2s forwards;
  -webkit-animation: r-r180 2s forwards;
  animation: r-r180 2s forwards;
}

.rotate-right-270 {
  -moz-animation: r-r270 2s forwards;
  -webkit-animation: r-r270 2s forwards;
  animation: r-r270 2s forwards;
}

.rotate-right-360 {
  -moz-animation: r-r360 2s forwards;
  -webkit-animation: r-r360 2s forwards;
  animation: r-r360 2s forwards;
}

.pulse-20, .card:hover {
  -moz-animation: pulse-20 3s ease infinite;
  -webkit-animation: pulse-20 3s ease infinite;
  animation: pulse-20 3s ease infinite;
}

/*# sourceMappingURL=index.css.map */
