// Text Gradient
@mixin grad-main($deg, $primary-color, $secondary-color) {
    background: -webkit-linear-gradient($deg, $primary-color, $secondary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
};

// Font size
$size: (
    "xl": 60px,
    "lg": 50px,
    "md": 30px,
    "sm": 15px,
    "xs": 8px,
);

$weight: (
    "bold": 700,
    "reg": 400,
    "thin": 200,
);


// Font Families