
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
};

@mixin animate($str) {
    -moz-animation: #{$str};
    -webkit-animation: #{$str};
    animation: #{$str};
}

@mixin multi-part($name, $steps, $animations) {
    @include keyframes($name) {
        @for $i from 1 through length($steps) {
            $step: nth($steps, $i);
            $animation: nth($animations, $i);

            #{$step} {
                transform: $animation;
            }
        }
    }
}